@import url(http://fonts.googleapis.com/css?family=Oswald);

$green_active:      #87f56d;
$pink_active:     #f23964;
$pink_2_active:     #db1545;
$gray_1_active:     #757575;
$gray_2_active:     #303030;
$gray_3_active:     #666666;
$btm_menu_black_active: #1c1c1c;
$btm_menu_gray_active:  #666666;
$hb_menu_gray_active: #ffffff;
$share_gray_active:   $gray_2_active;
$app_button_active:   #d91c49;
$nike_button_active:  $gray_3_active;
$sound_toggle_off:    #ee3131;

.home {
  position: relative;
  font-family: 'Oswald';
  width: 100%;
  height: 100%;

  &[data-direction="previous"] {
    .highlight [data-active="false"] {
      @include transform(translateX(100px));
    }
  }

  &[data-direction="next"] {
    .highlight [data-active="false"] {
      @include transform(translateX(-100px));
    }
  }

  .highlight {
    color: $blue;
    text-align: center;
    line-height: 90vh;
    font-size: 200px;
    .detail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 80px;
      opacity: 1;
      @include transition(opacity 500ms 500ms);
      &[data-active="false"] {
        opacity: 0;
        @include transition(all 500ms);
      }
    }
  }
  
  .controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: $btm_menu_black_active;
    .detail {
      height: 80px;
      color: white;
      font-size: 18px;
      position: absolute;
      left: 0;
      right: 0;
      opacity: 1;
      @include transition(opacity 500ms);
      &[data-active="false"] {
        opacity: 0;
        @include transition(all 500ms);
      }
      .heading {
        text-transform: uppercase;
        margin-right: 10px;
        &:after {
          content: "-";
          display: inline-block;
          margin-left: 10px;
        }
      }
      .heading, .description {
        display: inline-block;
        vertical-align: middle;
        line-height: 80px;
      }
    }
  }
  .detail, .track, .indicator_container {
    margin: 0 auto;
  }
  
  .detail, .track {
    text-align: center;
  }
  
  &[data-direction="previous"] {
    .controls [data-active="false"] {
      @include transform(translateX(50px));
    }
  }

  &[data-direction="next"] {
    .controls [data-active="false"] {
      @include transform(translateX(-50px));
    }
  }

  .arrow {
    z-index: 100;
    &:before {
      content: "";
      @include square(20px);
      background-image: url('../img/caret.svg');
      background-size: 1300%;
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      @include transform(translateY(-50%) translateX(-50%));
    }
    width: 80px;
    height: 100%;
    background-color: $green_active;
    position: absolute;
    opacity: 1;
    @include transition(opacity 250ms);
    cursor: pointer;
    &.previous {
      left: 0px;
      &:before {
      }
    }
    &.next {
      @include transform(rotateZ(180deg));
      right: 0px;
    }
    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
  }
  
  .track {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .indicator_container {
    position: relative;
    height: 100%;
    .indicator {
      z-index: 100;
      position: absolute;
      background: $green_active;
      height: 6px;
      bottom: 0;
      @include transition(transform 250ms);
    }
  }

}