.flipper {
  margin: 30px 0 20px 0;
  cursor: pointer;
}

.card-container {
  perspective: 1000px;
  .card {
    @include transition-property(all);
    @include transform-style(preserve-3d);
    position: relative;
    margin-bottom: 20px;
    &, .front, .back {
      @include size(300px, 100px);
    }
    .front, .back {
      @include backface-visibility(hidden);
      position: absolute;
      top: 0;
      left: 0;
    }
    .front {
      background: $blue;
      z-index: 2;
      @include transform(rotateX(0deg));
    }
    .back {
      background: $purple;
      @include transform(rotateX(180deg));
    }
  }
}