@import "compass/css3/animation";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

@import "lib/rounded_corners";
@import "lib/fonts";
@import "lib/vars";
@import "lib/ui_elements";

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin calc($property, $value, $fallback) {
  #{$property}: #{$fallback};
  #{$property}: -webkit-calc(#{$value});
  #{$property}: calc(#{$value});
}

@mixin keyframe ($animation_name) {

  @-webkit-keyframes $animation_name {
	@content;
  }

  @-moz-keyframes $animation_name {
	@content;
  }

  @-o-keyframes $animation_name {
	@content;
  }

  @keyframes $animation_name {
	@content;
  }

}

@mixin animation($properties) {
  -webkit-animation:	$properties;
  -moz-animation:		$properties;
  -o-animation:		$properties;
  animation:			$properties;
}
