@import "library";

html {
  font-family: "Helvetica", sans-serif;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $orange;
}

h1 {
  text-align: center;
}

/* Example page-level transitions */

section {
  position: relative;
}

.section-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.section-enter.section-enter-active {
  opacity: 1;
}

.section-leave {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.section-leave.section-leave-active {
  opacity: 0;
}

@import "section/about";
@import "section/home";

@import "widget/button";
@import "widget/cards";