<!DOCTYPE html>

<html lang="en" class="loading">
  {{> template/head}}
  <body>

    <div class="loader"></div>

    <div id="react_content"></div>
  
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="assets/js/lib/grow/loadr/loadr.js?rev={{GIT_REVISION}}"></script>
    <script src="assets/js/lib/grow/loadr/loadrAsset.js?rev={{GIT_REVISION}}"></script>
    <script src="assets/js/lib/grow/loadr/loadrScript.js?rev={{GIT_REVISION}}"></script>
    <script src="assets/js/lib/grow/loadr/loadrImage.js?rev={{GIT_REVISION}}"></script>
    <script src="assets/js/bootstrap.js?rev={{GIT_REVISION}}"></script>
    <script src="assets/js/bundle.js?rev={{GIT_REVISION}}"></script>

  </body>
</html>