<head>
  <meta charset="utf-8">
  <!-- Prevent IE from going into compatibility mode -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <base href="{{base_url}}"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description" content="Description" />
  <link rel="icon shortcut" type="image/x-icon" href="assets/img/favicon.ico" />
  <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
  <meta property="og:site_name" content="OG Site Name" />
  <meta property="og:url" content="/" />
  <meta property="og:title" content="OG Title" />
  <meta property="og:image" content="OG Image" />
  <meta property="og:description" content="OG Description" />

  <script type="text/javascript">
	var baseApiUrl = "{{base_api_url}}";
  </script>
  <style>
    html.loading .loader {
      display: block;
    }
    html.loading #react_content, .loader {
      display: none;
    }
    .loader{
      position: absolute;
      left: 50%;
      top: 50%;
      height: 80px;
      width: 80px;
      border-radius: 80px;
      border: 3px solid #46858C;
      top: 28%;
      top: -webkit-calc(50% - 43px);
      top: calc(50% - 43px);
      left: 35%;
      left: -webkit-calc(50% - 43px);
      left: calc(50% - 43px);
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
      -webkit-animation: loader 3s linear infinite;
      -moz-animation: loader 3s linear infinite;
          animation: loader 3s linear infinite;
    }

    .loader:after{
      content: "";
      position: absolute;
      top: -5px;
      left: 20px;
      width: 11px;
      height: 11px;
      border-radius: 10px;
      background-color: #46858C;
    }

    @-webkit-keyframes loader{
        0%{-webkit-transform:rotate(0deg);}
        100%{-webkit-transform:rotate(360deg);}
    }

    @-moz-keyframes loader{
        0%{-moz-transform:rotate(0deg);}
        100%{-moz-transform:rotate(360deg);}
    }

    @keyframes loader{
        0%{transform:rotate(0deg);}
        100%{transform:rotate(360deg);}
    }
  </style>
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css?rev={{GIT_REVISION}}">
</head>